<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="Twitter.Listeners" />
	</listeners>

	<test name="Validating valid and invalid login tests">
		<classes>
			<class name="Twitter.ParameterizedLoginTwitterTest" />
		</classes>
	</test>

	<test name="Validating Search and Like a tweet tests">
		<classes>
			<class name="Twitter.SearchAndLikeTwitterTest" />
		</classes>
	</test>
	<test name="Validating Create a tweet test">
		<classes>
			<class name="Twitter.CreateTweetTwitterTest" />
		</classes>
	</test>
	<test name="Validating Reply to first tweet test">
		<classes>
			<class name="Twitter.ReplyTweetTwitterTest" />
		</classes>
	</test>
	<test name="Validating Delete to first tweet test">
		<classes>
			<class name="Twitter.DeleteTweetTwitterTest" />
		</classes>
	</test>
	<!-- Test -->
</suite> <!-- Suite -->
